.header_wrapper,.header_categories{
    display: flex;
    justify-content: space-between;
}
.hamburger_navbar{
    display: none;
}
.header_categories_hamburger{
    display: none;
}
.header_wrapper{
    position: fixed;
    width: 100%;
    z-index: 2;
   top: 0px;
    border-bottom: var(--header-background-color);
    cursor: pointer;
    color: white;
    background-color:var(--header-background-color);
    font-weight: bold;
    font-family: 'Roboto','Helvetica','Arial',sans-serif;
}
.header_item{
    padding: 15px;
    color: white;
    text-decoration: none !important;
}
.header_item.active{
    color: #FFD1C2
}

.sign_in_popup {
    position: absolute;
    background: pink;
    height: 500px;
    width: 500px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0px);
    border-radius: 5px;
}
h2{
    text-align: center;
    color: var(--primary-text-color)
}
.google-sign-in{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0px);
}
@media screen and (max-width:868px){
    .hamburger_navbar{
        display: block;
    }
    .header_categories_hamburger{
        display: block;
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 50px;
        background: #A3BFF3;
        border-radius: 5pxf
    }
    .header_categories{
        display: none
    }
}
.header_wrapper{
    display: flex;
    
}
.display-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}