
.contact-me-input{
    height: 100px;
    width: 600px;
    background-color: #F5F5F5;
    border-radius: 10px;
}
.greetmsg,.description_about{
    text-align: center;
    line-height: 1.75;
    margin: 20px 40px;
    animation: fadeInAnimationButton ease 0.5s;
}
.greetmsg{
    font-size: 20px;
}
.contact-card{
    border: 1px solid #ccc;
    border-style: dashed;
    border-radius: 5px;
    max-width: 850px;
    margin: 0 20px;
}
.contact_me_dp{
    width: 200px;
    height: 200px !important;
    border-radius: 50%;
   
    animation: fadeInAnimationButton ease 0.5s;
}
.flex-center{ 
    display: flex;
    justify-content: center;
}
.send-button{
    margin-top: 20px;
    
    height: 30px;
    
}
button{
    border-radius: 15px;  
    padding: 0 20px 0 20px;  
}
.social_media_contact_links{
    text-align: center;
}
.social_media_icon{
    width: 30px;
    height: 30px;
    margin: 10px;
    cursor: pointer;
  
}
.contact_wrapper{
    height: 90vh;
    margin-top: 70px;
    color: var(--primary-text-color);

}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
.contact-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}