.page-content{
    margin: 60px;
    line-height: 1.75;
 
   

}
.content-container{
    border: 1px solid #ccc;
    padding: 30px;
    border-style: dashed;
    border-radius: 5px;
    margin: 10px 0px;
    background-color: #eee;
}
h1{
    /* text-align: center; */
    text-transform: uppercase;
    letter-spacing: 3.5px;
}
.google_form_commission_request{
    text-align: center
}
.align_center{
    text-align: center
}
.commission_work_wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.view_commission_work{
    flex-basis: 33.33%;
    margin-top: 5px;
    margin-right: 5px;
    box-sizing: border-box;
    height: 500px;
    overflow: hidden;
}
.view_commission_work img{
    width: 100%;

}

.img-wrap img{
    object-fit: cover;
}
.cursor-pointer{
    cursor: pointer;
}
.ml-10{
    margin-left: 10px ;
}
.ml-15{
    margin-left: 15px ;
}
.old-work{
    /* text-decoration: underline; */
    color: blue;
    cursor: pointer;
}