*{
    font-family: 'Roboto','Helvetica','Arial',sans-serif;

}
.home_page{
    min-height: 100vh;
    width: 100%;
    background-color: #253237;
}
.home_page_wrapper{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
}

.welcome_text{
    color: white;
    font-size: 40px;
    font-weight: bold;
    opacity: 1;
    animation: fadeInAnimation ease 2s;

}
.take-tour-button{
    border: solid rgba(250, 250, 250, 0.5) 1px;
    border-radius: 3px;
    text-align: center;
    margin-top: 20px;
    animation: fadeInAnimationButton ease 2s;

}
.take-tour-button:hover{
    border: solid rgba(250, 250, 250, 1) 1px;

}
.take-tour{
    text-decoration: none !important;
    color: #fafafa;
    line-height: 1.75;
    
    padding: 5px 15px;
}
svg{
    vertical-align: middle;
}

  
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
  
@keyframes fadeInAnimationButton {
    0% {
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
  
    100% {
        opacity: 1;
     }
}